<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus</title>
  </head>
  <body>
    <form action="/nexus/signup">
      <button>Signup</button>
    </form>
    <form action="/nexus/login">
      <button>Login</button>
    </form>
  </body>
</html>
