<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <form action="/nexus/login" method="POST">
        <label for="username">Username</label>
        <input name="userData[username]" type="text" />
        <label for="password">Password</label>
        <input name="userData[password]" type="text" />
        <button>Login</button>
      </form>
    </div>
  </body>
</html>
