<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Room Name: <%= existingRoom.room %></h2>
    <h2>Room Code: <%= existingRoom.code %></h2>
    <form
      action="/nexus/manageRoom/<%= existingRoom._id %>/editRoom"
      method="GET"
    >
      <button>Edit</button>
    </form>
    <form
      action="/nexus/manageRoom/<%= existingRoom._id %>?_method=DELETE"
      method="POST"
    >
      <button>Delete</button>
    </form>
  </body>
</html>
